<ion-title class='title'>
  Import a faucet key
</ion-title> 
<br>
<ion-text>
  <i>Faucet keys</i> are built-in accounts with some funds that allow getting Tezos tokens on the various Tezos "testnets". You can download a faucet key from
  <a href="https://faucet.tzalpha.net/" target="_blank">https://faucet.tzalpha.net/</a>
</ion-text> 
<br>
<ion-item class='item'>
  <ion-textarea [(ngModel)]='faucetKey' class='faucet-textarea' placeholder="Paste the faucet key here." auto-grow=true ></ion-textarea>
</ion-item>
<br>
<ion-button expand="block" (click)='submit()' color="primary">Send</ion-button>
