:host {
        white-space: pre;
        
        pre code {
            background-color: #eee;
            border: 1px solid #999;
            overflow: auto;
          }
          pre > code {
            display: block;
            padding: 1rem;
            word-wrap: normal;
          }
}
